In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv(r'C:\Users\EboOka\Downloads\travel_insurance.csv')
df = pd.DataFrame(df)
df.head()

,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,31,Government Sector,Yes,400000,6,1,No,No,0
1,31,Private Sector/Self Employed,Yes,1250000,7,0,No,No,0
2,34,Private Sector/Self Employed,Yes,500000,4,1,No,No,1
3,28,Private Sector/Self Employed,Yes,700000,3,1,No,No,0
4,28,Private Sector/Self Employed,Yes,700000,8,1,Yes,No,0

In [3]:
df.info()
df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1987 entries, 0 to 1986
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  1987 non-null   int64
 1   Employment Type      1987 non-null   object
 2   GraduateOrNot        1987 non-null   object
 3   AnnualIncome         1987 non-null   int64
 4   FamilyMembers        1987 non-null   int64
 5   ChronicDiseases      1987 non-null   int64
 6   FrequentFlyer        1987 non-null   object
 7   EverTravelledAbroad  1987 non-null   object
 8   TravelInsurance      1987 non-null   int64
dtypes: int64(5), object(4)
memory usage: 139.8+ KB

Age                    0
Employment Type        0
GraduateOrNot          0
AnnualIncome           0
FamilyMembers          0
ChronicDiseases        0
FrequentFlyer          0
EverTravelledAbroad    0
TravelInsurance        0
dtype: int64

In [4]:
df['EverTravelledAbroad'] = df['EverTravelledAbroad'].astype('category')
df['FrequentFlyer'] = df['FrequentFlyer'].astype('category')

In [5]:
df.head()

,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,31,Government Sector,Yes,400000,6,1,No,No,0
1,31,Private Sector/Self Employed,Yes,1250000,7,0,No,No,0
2,34,Private Sector/Self Employed,Yes,500000,4,1,No,No,1
3,28,Private Sector/Self Employed,Yes,700000,3,1,No,No,0
4,28,Private Sector/Self Employed,Yes,700000,8,1,Yes,No,0

## Customers

In [21]:
customers = df[df['TravelInsurance']==1]
non_customers = df[df['TravelInsurance']==0]
customers.shape

(710, 9)

In [9]:
customers_frequentflyers = customers[(customers['FrequentFlyer']== 'Yes')]
customers_frequentflyers.shape

(239, 9)

In [10]:
customers_regular_travellers = customers[(customers['FrequentFlyer']== 'Yes') & (customers['EverTravelledAbroad']== 'Yes')]
customers_regular_travellers.shape

(148, 9)

## Non-Customers

In [11]:
non_customers.shape

(1277, 9)

In [12]:
non_customers_frequent = non_customers[(non_customers['FrequentFlyer']== 'Yes')]
non_customers_frequent.shape

(178, 9)

In [13]:
non_customers_regular_travellers = non_customers[(non_customers['FrequentFlyer']== 'Yes') & (non_customers['EverTravelledAbroad']== 'Yes')]
non_customers_regular_travellers.shape

(20, 9)

In [24]:
sns.catplot(x="customers", kind="count", data=df)

ValueError: Could not interpret input 'customers'